.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner {
  max-width: 100%;
  border: 2px solid black;
  height: 80vh;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.members {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5vh;
}
.team-grid {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3vw;
  padding: 20px;
}

.member-grid {
  margin-top: 2vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  padding: 20px;
}

.ourAim {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Aim {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.Aim-left {
  border: 2px solid black;
  height: 20vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.Aim-right {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
}

.work {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.workdone {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.work-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 5vw;
  padding-left: 5vw;
}

.work-right {
  border: 2px solid black;
  height: 20vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 768px) {
  .team-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .member-grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
  }
}
