.meember-image {
  height: 90%;
  object-fit: cover;

  transition: all 0.3s ease-in-out;

  border-radius: 5px;
}

.meember {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: aliceblue;
}

.name {
  font-size: 18px;
}

.position {
  font-size: 15px;
  font-weight: 500;
}
